body {
  height: 1000px;
  margin: 20px;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url('https://images.pexels.com/photos/82256/pexels-photo-82256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}

#feed-display {
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.articles-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98vw;
  justify-content: center
}

#header {
  height: 30px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

#comment-box {
  position: absolute;
  right: 100px;
}

.article-box-feed {
  height: 200px;
  width: 200px;
  padding: 10px;
  border: .6px solid white;
  color: white;
  margin: 20px; 
  box-shadow: 5;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.article-box-myArticles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98vw;
  justify-content: center
}

.single-article {
  height: 200px;
  width: 200px;
  padding: 10px;
  border: .6px solid white;
  color: white;
  margin: 20px; 
  box-shadow: 5;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

button {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 15px;
  margin: 5px;
}

.save-button {
  display: flex;
  align-items: baseline;
}

#comment-box {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid gray;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
}